<!-- Generate robots meta tag based on front matter -->
{% if page.index == 'yes' %}
{% if page.follow == 'yes' %}
    <meta name="robots" content="index, follow">
{% else %}
    <meta name="robots" content="index, nofollow">
{% endif %}
{% else %}
{% if page.follow == 'yes' %}
    <meta name="robots" content="noindex, follow">
{% else %}
    <meta name="robots" content="noindex, nofollow">
{% endif %}
{% endif %}
<!-- Other meta tags, title, CSS, scripts, etc. -->


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P5GRLZ9W');</script>
    <!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5GRLZ9W"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->